body {
    background-color: #f0f2f5;
    /* fundo cinza claro da tela */
}

.container-pai {
    background-color: white;
    /* fundo branco da margem */
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-buttons button {
    margin-right: 10px;
}

table th {
    background-color: #007bff;
    color: white;
}